<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SQLite3ConnectionString" connectionString="Data Source=.\DBs\Ref5thDBsqlite.db;Version=3;Password=1111"
      providerName="System.Data.SqlClient" />
    <add name="LocalDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\@@@ NOT Transfer 2\c#\Main Project\V2\RefTagFinder\DBs\Ref5thDBSQL.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LocalSQLDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=.\DBs\Ref5thDBSQL.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RefTagFinder.Properties.Settings.Ref5thDBSQLConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBs\Ref5thDBSQL.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
